@model CoffeeShopLabTable

@{
    ViewBag.Title = "Detail";
}

<form method="POST" action="/Home/Detail">
    <h1>@Model.Name</h1>
    <p>@Model.id</p>
    <b>Description: @Model.Description</b>
    <b>Category: @Model.Category</b>
    <br />
    <b>Price: @Model.Price</b>
</form>

